__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env/

build/
dist/
*.spec

.vscode/
*.tmp
temp_*.txt
*.log
Thumbs.db
Desktop.ini

temp/
tools/
ffmpeg.exe
ffmpeg/
outputs/
assets/thumbs/
settings.json

.DS_Store